body {
    background: linear-gradient(to right, #f0f0f0, #ffffff);
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.content {
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 3em;
    color: #007bff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    font-size: 1.2em;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}